doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrap
			.hero-unit
				h1 #{title}
				p 搜索,查看源中的组件

			.navbar
				.navbar-inner
					a.brand(href="/") index
					form.navbar-form.pull-right
						input#search.search-query(type='text',placeholder='组件名称',value='#{keyword}') 

			block content


			.footer
				.well
					a(href='https://github.com/rinh/fekit') fekit on github 


			script(src='/javascripts/jquery-1.9.1.min.js')
			script(src='/bootstrap/js/bootstrap.min.js')
			script(src='/javascripts/common.js')
			block js