.wrap { margin:10px auto; width:980px; }
.footer { height: 60px; line-height: 60px; background-color: #f5f5f5; margin-top:10px; }

.f14 { font-size: 14px; font-weight: normal; }
.m30 { margin:auto 30px; }
.pad3 { padding:0 3px; }

.announce { background: none repeat scroll 0 0 #eee; border-radius:3px; padding:3px; }
.announce .markdown-body {
    background-color: #FFFFFF;
    border: 1px solid #CACACA;
    padding: 30px;
}

.btn { margin:auto 3px;}